<table id="inventory_table">
  <caption>Albums</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Quantity</th>
      <th>Buy Price</th>
      <th>Sell Price</th>
      <th>Re-order Level</th>
      <th>Stock Check</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist.name %></td>
        <td><%= album.stock.quantity %></td>
        <td><%= '%.2f' %album.stock.buy_price %></td>
        <td><%= '%.2f' %album.stock.sell_price %></td>
        <td><%= album.stock.reorder_level %></td>
        <td><%= album.stock.check_stock_level %></td>
        <p><a id="inventory_table" href="/stocks/<%= album.stock.id %>/edit">Update Inventory.</a></p>
        <form class="" action="/stocks/<%= album.stock.id %>/sell_item" method="post">
          <input type="submit" name="" value="Sell Item">
        </form>
      </tr>

      <!-- <button type="button" onclick="< % Stock.sell_item(album.id) %>" name="<%= album.id %>">Sell Item</button> -->
    <% end %>
  </tbody>

</table>
