<table id="inventory_table">
  <caption>Albums</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Quantity</th>
      <th>Buy Price</th>
      <th>Sell Price</th>
      <th>Re-order Level</th>
      <th>Stock Check</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist.name %></td>
        <td><%= album.stock.quantity %></td>
        <td><%= '%.2f' %album.stock.buy_price %></td>
        <td><%= '%.2f' %album.stock.sell_price %></td>
        <td><%= album.stock.reorder_level %></td>
        <td><%= album.stock.check_stock_level %></td>
        <td>
          <form action="/stocks/<%= album.stock.id %>/edit" method="GET">
            <input class="btn" type="submit" value="Update Inventory" />
          </form>
        </td>
        <td>
          <form class="" action="/stocks/<%= album.stock.id %>/sell_item" method="post">
            <input class="btn" type="submit" name="" value="Sell Item">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
