

<table id="album_table">
  <caption>Albums</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Format</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist.name %></td>
        <td><%= album.format %></td>
        <td><%= album.stock.quantity %></td>
      </tr>
    <p><button type="button" href="/albums/<%= album.id %>/edit" >Edit Album Details<%= album.id %></button></p>
    <% end %>
  </tbody>

</table>
