<div class="flex--row">


<table id="album_table">
  <caption>Albums</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Format</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist.name %></td>
        <td><%= album.format %></td>
        <div class="album_index_buttons">
          <input type="button" name="" value="<%= album.sell_item %>">
        </div>
      </tr>
      <button type="button" href="/albums/<%= album.id %>/edit">Edit Album Details</button>
    <% end %>
  </tbody>

</table>

</div>
