<h2>Total Sales: £ <%= Sale.till_value %></h2>

<h2>Profit: £ <%= Sale.profit %></h2>


<table id="sales_table">
  <caption>Best Sellers</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    <% @bestsellers.each do |bestseller| %>
    <tr>
      <td><%= Album.find(bestseller.album_id).title %></td>
      <td><%= Artist.find(Album.find(bestseller.album_id).artist_id).name %></td>
      <td><%= bestseller.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table id="sales_table">
  <caption>All Sales</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Buy Price (£)</th>
      <th>Sell Price (£)</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= Album.find(sale.album_id).title %></td>
        <td><%= Artist.find(Album.find(sale.album_id).artist_id).name %></td>
        <td><%= sale.buy_price %></td>
        <td><%= sale.sell_price %></td>
      </tr>
    <% end %>
  </tbody>

</table>
