<div class="totals">
  <h2>Total Sales: £ <%= '%.2f' %Sale.till_value %></h2>
  <h2>Profit: £ <%= '%.2f' %Sale.profit %></h2>
</div>

<table id="bestsellers_table">
  <caption>Best Sellers</caption>
  <thead>
    <tr>
      <th></th>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    <% @bestsellers.each do |bestseller| %>
    <tr>
      <td><img src="<%= Album.find(bestseller.album_id).thumb_url %>" width="80" height="80" alt=""> </td>
      <td><%= Album.find(bestseller.album_id).title %></td>
      <td><%= Artist.find(Album.find(bestseller.album_id).artist_id).name %></td>
      <td><%= bestseller.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table id="sales_table">
  <caption>All Sales</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Buy Price (£)</th>
      <th>Sell Price (£)</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= Album.find(sale.album_id).title %></td>
        <td><%= Artist.find(Album.find(sale.album_id).artist_id).name %></td>
        <td><%= '%.2f' %sale.buy_price %></td>
        <td><%= '%.2f' %sale.sell_price %></td>
      </tr>
    <% end %>
  </tbody>

</table>
